body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#featured-property {
  align-content: center;
}

section p {
  width: 800px;
}
nav a {
  padding: 10px;
  background-color: grey;
}
figcaption {
  text-align: center
}